<div class="about-main">
	<div class="container">
		<div class="row">
			<h2 class="about-heading text-left heading-border-bottom col-md-8 mx-auto pb-2">About us</h2>
			<h3 class="col-md-8 mx-auto text-center my-3">OUR MISSION</h3>
	      </div>
			<div class="about-first-image col-12 mt-3 mb-5">
				<img src="<%= asset_path "photo-1.jpeg" %>" class="about-photos"></img>
				<h4 class="col-12"><br>To get you the best that Japan has to offer:<br>
					There's so much more to Japanese snacks than the common snacks you find at your local Japanese grocery store. 
					We love Pocky and Shrimp Chips as much as you do, but the best snacks are unfortunately only available in Japan. <br>
					But don't worry! We spend tons of time finding the best snacks from all across Japan, so you can get the best that Japan has to offer. <br></h4>
				<h4 class="col-12"><br>To support local Japanese stores:<br>
					Every store, every town, every region of Japan has so much history and is proud of their local products. <br>
					Often times, a local mom-and-pop shop has been making snacks for hundreds of years, passing down the tradition and recipe for generations.<br>
					We aim to support these shops and tell their story, so they can continue to make the delicious snacks for the next hundred years.<br></h4>
			</div>
			<div class="about-third-image col-12 mt-5">
				<img src="<%= asset_path "shibuya.jpeg" %>" class="about-photos-2"></img>
				<h4 class="col-12"><br>To give you the Japanese experience from start to end:<br>
					If you've ever been to Japan, you know how amazing the service and attention to detail is. How they treat customers like kings and queens. <br>
					How they immaculately package their products.<br>
					We hope to bring a little bit of the Japanese experience to you too. We've paid special attention to the details by making our packaging authentic and memorable. <br>
					We've gone the extra mile to provide you with travel tips and snack reviews on our blog. And we're always looking to connect with you! <br>
					Whether if it's about Snack or you're just looking for Japan travel advice, we love talking with our customers.<br></h4>
			</div>
				
	</div>
</div>
