<div class="container-fluid about-screen">
	<div class="about-top mx-auto text-center">
		<span><i class="fas fa-quote-left"></i></span>
		<h1 class="about-top-text">Sometimes home can come in the<br> smallest of packages. For Daisuke, <br>that package was a snack.</h1>
	</div>
	<div class="about-bottom mx-auto text-center">
		<h1 class="about-bottom-heading mx-auto">Our Story</h1>
		<div class="row px-5">
			<div class="col-md-5">
				<img src="<%= asset_path "my-photo.jpg" %>" class="about-bottom-pic"></img>
			</div>
			<div class="col-md-7 about-bottom-section">
				<h4 class="about-bottom-text-1">After moving abroad, Daisuke found himself feeling a little homesick. Though he loved the sunshine of Australia, he looked forward to the care packages his mother would send him. In them, she included many of the snacks he’d enjoyed as a child.</h4>
			  <br>
				<h4 class="about-bottom-text-2">He shared these snacks with his friends and while everyone agreed they were amazing, they couldn’t find them anywhere. Daisuke decided to change that. He founded SnackBen with the hope of sharing a little bit of Japan with everyone.</h4>
			</div>
		</div>
	</div>
</div>

