<div class="container">
  

<h1 class="col-12 mt-4 mb-4 review-title">New Review</h1>

<% if @review.errors.any? %>
  <div class="error-explanation mt-4">
    <h3><%= @re.errors.count %> errors occurred. Please correct the errors below. </h3>
    <% @review.errors.full_messages.each do |message| %>
      <ul>
        <li>・<%= message %></li>
      </ul>
    <% end %>  
  </div>
<% end %>

<%= render 'form' %>

 
</div>