<%# cart__items/index 非同期通信先 %%>
<table class="table table-sm mt-1" style="background-color: #F0F3EF;">
  <tr>
    <th class="text-left active">Shipping Cost</th>
    <td id="shipping_cost"><%# shipping_confirm.js.erbでテキストを非同期通信 %></td>
  </tr>
  <tr>
    <th class="text-left active">Delivery Time</th>
    <td id="delivery_time"><%# shipping_confirm.js.erbでテキストを非同期通信 %></td>
  </tr>
</table>

