<div class="container">
  <div class="row">
    <div class="mx-auto mt-5">
      <h2>Shipping Cost & Delivery Time</h2>
      <table class="table table-sm mt-1" style="background-color: #F0F3EF;">
        <tr>
          <th class="text-left active">Country</th>
          <td><%= @cart_item.country %></td>
        </tr>
        <tr>
          <th class="text-left active">Shipping Cost</th>
          <td>$ <%= number_with_precision(@cart_item.international_shipping_fee, precision: 2) %></td>
        </tr>
        <tr>
          <th class="text-left active">Delivery Time</th>
          <td><%= @cart_item.delivery_time %></td>
        </tr>
      </table>
      <%= link_to 'Back To Cart', cart_items_path, class:"btn btn-info mt-1 mb-3" %>
    </div>
  </div>
</div>



