<div class="container-fluid">
    <div class="row">
        <div class="thanks-top-section">
            <h4 class="my-5 ml-5 thanks-hedding">THANK YOU</h4>
        </div>
    </div>
    <div class="row">
        <div class="thanks-main-section col-12">
            <div class="text-center thanks-main-section-text col-7 mx-auto">
                <h1 class="thank-you">THANK YOU</h1>
                <p>Your order has been successfully processed.<br>
                Enjoy our Snacks!<br>
                We look forward to serving you again.</p>
            </div>
        </div>
    </div>
</div>
