/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "slick-theme"; 
 @import "slick";
 
 //common //
 
 .body-background-color {
  background-color: #EBE9DE;
  }
 
 body {
	font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
	display: flex; //フレックスボックスに有効に
  flex-flow: column; //要素を縦に並べる
  min-height: 100vh; //最小でも画面の高さ分のbodyの高さを担保する
  }
  
    
  main {
  flex: 1; //画面の高さから他の同レイヤーの要素の高さを引いた値に
  }  
    
    li {
	list-style: none;
    }
    
    a {
	text-decoration: none;
    }

    * {
	margin: 0;
	padding: 0;
}

.navbar-toggler-icon {
	color: white;
}

.nav-link:hover {
	opacity: 0.6;
}

.fa-shopping-cart {
  color: #EBE9DE;
}

.active {
  background-color: #F0EDEC;
}

/* kami */
.pagination {
  justify-content: center;
}

/* flash  */

.flash {
  margin: 0 auto;
  color: green;
  background-color: #F5FFFA;
  width: 100%;
  text-align: center;
}

/*error */

.error-explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 33px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error-explanation h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 33px;
    background-color: #c00;
    color: #fff;
}

.error-explanation li {
    font-size: 12px;
    margin: 0 33px;
}


 @media screen and (max-width: 1200px) {
 .related-card {
    width: 220px!important;
 }
 }