/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "slick-theme";
 @import "slick";

 //common //

.body-background-color {
  background-color: #EBE9DE;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  display: flex; //フレックスボックスに有効に
  flex-flow: column; //要素を縦に並べる
  min-height: 100vh; //最小でも画面の高さ分のbodyの高さを担保する
}


main {
  flex: 1; //画面の高さから他の同レイヤーの要素の高さを引いた値に
}

  /* 上の設定をすることでfooterを下部へ固定 */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.active {
  background-color: #F0EDEC;
}

/*header */
.sticky-top {
  z-index: 10;
  opacity: 0.9;
  font-family: 'Noto Sans JP', sans-serif;
}

.header-title {
  color: #EBE9DE; 
  font-family: 'Abril Fatface', cursive;
}

.header-message-section {
  background-color:#F2B705; 
  height: 40px;
}

.header-message {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}

.navbar-toggler-icon {
  color: white;
}

.contact-link {
  color:black; 
  font-size: 12px; 
  font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover {
  opacity: 0.6;
}

.navbar {
  position:relative;
}

.dropdown-menu {
  background-color: black;
  opacity: 0.9;
}

.brand-center {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
}

// ブランドをセンターにさせる //

@media (min-width: 768px) {
  
  .brand-center {
  margin-left: 0 !important;
  }
  
}

.nav-item {
  margin-left: 10px;
}

.fa-shopping-cart {
  color: #EBE9DE;
}

.cart-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  background-color: #F2B705;
  font-size: 9px;
  position: absolute;
  left: 15px;
  bottom: 13px;
}

.cart-circle-relative {
  position: relative;
}

// footer //

.contact-form {
  position: relative;
}

.footer-pic {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 160px;
  width: 150px;
}

// 漢字レスポンシブ //

@media (max-width: 1100px) {
  
  .footer-pic {
  height: 120px;
  width: 120px;
  }
}

/* kaminari */
.pagination {
  justify-content: center;
}

.pagination>li>a {
  color: black;
}

/* flash  */

.flash {
  margin: 0 auto;
  color: green;
  background-color: #F5FFFA;
  width: 100%;
  text-align: center;
}

/*error */

.error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 33px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error-explanation h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 33px;
  background-color: #c00;
  color: #fff;
}

.error-explanation li {
  font-size: 12px;
  margin: 0 33px;
}

 @media screen and (max-width: 1200px) {
   
  .related-card {
  width: 220px!important;
  }
}

/* search  */ 

#search-modal .modal-dialog {
  max-width: 500px;
  margin: 0 auto 0 auto ;
  height: 40%;
  margin-top: 20px;
}

#search-modal .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}
#search-modal .modal-header {
  display: block;
}
#search-modal .modal-title {
  display: inline-block;
}
#search-modal .modal-body {
  overflow-y: scroll;
}

 @media screen and (max-width: 800px) {
   
  #search-modal .modal-dialog {
  max-width: 100%;
  height: 40%;
  margin: 0;
  }
}

  .search-section {
  border: 1px solid grey;
  border-radius: 7px;
  background-color: #EBE9DE;
  margin-right: 18px;
}

  .search-form {
  font-size: 17px; 
  width: 220px;
}

  .search-button {
  background-color: white;
  border: none;
  border: none;
  outline: none;
  background: transparent;
  inline-height: 100%;
  display: block;
  margin-right: 8px;
  margin-left: 3px;
}

  .search-form {
  border: none;
  border: none;
  outline: none;
  background-color: #EBE9DE;
}

/*以下、携帯サイズ レスポンシブ*/
  @media screen and (max-width: 465px) {
    
  .error-explanation {
  width: 345px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 33px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  }  
  
  .header-message {
  font-size: 12px;
  }
  
  .header-message-section {
  height: 50px;  
  }
    
  .search-section {
  width: 170px;
  height: 27px;
  position: relative; 
  }
  
  .search-form {
  position: absolute; 
  width: 130px;
  height: 25px;
  left: 30px;
  top: 0;
  }
  
  .search-section-list {
    width: 170px;
    margin-right: 15px;
  }
  
  .navbar-toggler {
    font-size: 12px;
    margin-top: 5px;
  }
  
}

@media screen and (max-width: 368px) {

  .contact-link {
    font-size: 10px;
  }
  
  .search-section {
    width: 140px;
  }
  
  .search-form {
  width: 100px;
  }
  
  .search-section-list {
    margin-right: -15px;
  }
  
  .navbar-toggler-icon {
    font-size: 9px;
  }
  
  .header-title {
    font-size: 32px;
    margin-top: 4px;
  }
  
  .footer-pic {
    height: 90px;
    width: 90px;
  }

}

@media screen and (max-width: 580px) {
  .header-message {
  font-size: 12px;
  }
  
}