// Place all the styles related to the cartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ec-cart-index-main{
	margin: 30px auto;
}
.ec-cart-index-title{
	font-family: 'Noto Serif JP', serif;
	margin-bottom: 50px;
}

.btn-box {
	margin-bottom: 30px;	
}


table.table01 {
	width:100%;
	border-top:#EEEEEE solid 1px;
	border-collapse: collapse;
	margin-bottom: 40px;
}
table.table01 thead th {
	color:black;
	padding:10px 15px;
	border-bottom:#EEEEEE solid 3px;
}

table.table01 tbody th {
	
	color:#FFF;
	padding:10px 15px;
	border-bottom:#EEEEEE solid 1px;
	vertical-align:top;
}
table.table01 tbody tr:last-child th {
	border-bottom:#EEEEEE solid 1px;
}
table.table01 tbody td {
	padding:10px 15px;
	border-bottom:#EEEEEE solid 1px;
	vertical-align:top;
}

 
@media screen and (max-width: 820px) {
	table.table01 thead {
	display:none;
}
	table.table01 tbody th {
	display:block;
}
	table.table01 tbody td {
	display:block;
}
	table.table01 tbody td::before {
	content: attr(label);
	float: left;
	clear:both;
	font-weight:bold;
}
	table.table01 tbody td p {
	padding-left:6em;
}

}
