// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* top画面 */

.top-screen {
  background-color:#EBE9DE;
  height: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

.top-wrapper {
  background-image: image-url("sakuratoppage.png");
  background-size: cover;
  background-position: center;
  width:  100%;
  max-width:  auto;
  padding: 270px 0;
  margin: 0 auto;
  position: relative;
}



.ben-kanji-pic {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

.top-wrapper-bar {
  background-color: #592202;
  width: 100%;
  height: 40px;
  color:#EBE9DE;
  text-align: center;
  padding: 10px 0 ;
}

.item-heading {
  padding-top: 40px;
  padding-bottom: 20px;
}

.items  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
}

.card-body {
 position: relative;
}

.card-title {
  height: 40%; 
  color: black; 
  font-weight: bold;
}

.card-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 30px;
  padding-bottom: 10px;
  font-size: 17px;
}

.item-hover{
  color: black!important;
}

.card span {
  border-bottom: 1px solid #F1A244;
}

.card:hover {
  box-shadow: 10px 10px 5px  grey;
  transition: all 0.5s;
}

.message-heading {
  padding-top: 40px;
  padding-bottom: 20px;
}

.snack-box-description {
  padding: 120px 0;
  text-align: center;
}

.sweets-box-description-image-mobile {
  display: none;
}

.sweets-box-description-image {
  background-image: image-url("sweets-box.jpg");
  background-size: cover;
  background-position: center;
  width:  100%;
  max-width:  auto;
  padding: 130px 130px;
}

.sweets-box-description-image:hover {
  box-shadow: 10px 10px 5px grey;
  transition: all 0.5s;
}

.ramen-box-description-image-mobile {
  display: none;
}

.ramen-box-description-image {
  background-image: image-url("ramen-box.jpg");
  background-size: cover;
  background-position: center;
  width:  100%;
  max-width:  auto;
  padding: 130px 130px;
}

.ramen-box-description-image-mobile {
  display: none;
}

.ramen-box-description-image:hover {
  box-shadow: 10px 10px 5px grey;
  transition: all 0.5s;
}

.contact-form {
  background-color: black; /* #26110Fでもいい。コメントアウトでキープ*/
  width:  100%;
  max-width:  auto;
  color: #EBE9DE;
  padding-bottom:  20px;
  padding-top:  20px;
}

.contact-heading {
  padding-top: 40px;
  padding-bottom: 10px;
}

//View more botton//
.btn-gradient {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.btn-gradient:hover {
  -webkit-transform: skew(0);
  transform: skew(0);
  color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

/* homes/about */

.about-screen {
  font-family: 'Noto Sans JP', sans-serif;
}

.fa-quote-left {
  font-size: 50px;
  color: #f2b705;
  margin-top: 120px;
}

.about-top-text {
  margin-top: 60px;
  margin-bottom: 310px;
  font-style: italic;
  font-size: 35px;
}

.about-bottom-heading {
  border-bottom: 4px solid #1E2340;
  font-size: 35px;
  padding-bottom: 20px;
  width: 500px;
  margin-bottom: 50px;
  font-weight: bold;
}

.about-bottom-section {
  margin-bottom: 50px;
}

.about-bottom-text-1 {
  margin-top: 90px;
  font-size: 23px;
}

.about-bottom-text-2 {
  font-size: 23px;
}

.about-bottom-pic {
  width: 75%;
  height: 75%;
}

/* TOP画像Snackbox用レスポンシブ  */

@media screen and (max-width: 570px) {

  .sweets-box-image-mobile {
  background-image: image-url("sweets-box.jpg");
  background-size: cover;
  background-position: center;
  width:  100%;
  max-width:  auto;
  padding: 130px 130px;
}

.sweets-box-description-image {
  display: none;
}

.ramen-box-description-image {
  display: none;
}

.ramen-box-image-mobile {
  background-image: image-url("ramen-box.jpg");
  background-size: cover;
  background-position: center;
  width:  100%;
  max-width:  auto;
  padding: 130px 130px;
}
}

/* ipad以下about下部テキスト レスポンシブ */
@media screen and (max-width: 1280px) {

.about-bottom-text-1 {
  margin-top: 10px;
}

}

/* 携帯レスポンシブ */


@media screen and (max-width: 575px) {

.about-top-text {
  font-size: 20px;
}

.about-bottom-heading {
  width: 300px;
  font-size: 20px;
}

}

@media screen and (max-width: 450px) {

.top-screen-message {
  font-size: 14px;
}

.ben-kanji-pic {
  width: 180px;
  height: 180px;
}

.snack-box-description {
  padding: 35px 0;
}

}