// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items-all-top {
  font-family: 'Chango', cursive;
  border-top: 2px solid grey; 
  border-bottom: 2px solid grey;
  background-color: #101626; 
  color:white;
}

.item-review-section {
  margin-bottom: 40px;
}

.condition-search-botton{
  cursor: pointer;
  color: white; 
  font-family: 'Lobster', cursive;
  background-color: #FFAD90;
  border-radius: 7px;
}

.condition-search-botton:hover {
  opacity: 0.8;
}

.genre-select {
  width: 61%;
  height: 100%;
  border: 2px solid grey;
}
