// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show */
.show-item-section {
  padding-bottom: 50px;
}

.show-item-title {
  font-family: 'Chango', cursive;
}

.show-item-name {
  margin-bottom: 30px;
  
}

.show-item-introduction {
  margin-bottom: 30px;
}

.show-item-price {
  margin-bottom: 30px;
}

.items-all-top {
  font-family: 'Chango', cursive;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  background-color: #101626;
  color:white;
}

.item-review-section {
  margin-bottom: 40px;
}

.related-snacks-body {
  border-top: 1px solid #F1A244;
}

.related-snacks-title {
  height: 40%;
}

/* index */

.category-search-section {
  border: 2px dashed #EBE9DE; 
  background-color: #101626; 
  color: white;
}

/*以下、携帯サイズ レスポンシブ*/

@media screen and (max-width: 465px) {

/* show */  
.show-item-title {
  font-size: 32px;
}  

.show-item-name {
  font-size: 32px; 
}
  
.item-show-card {
  width: 100%;
  margin-left: -1px;
}

.related-snacks {
  width: 148px!important;
  height: 120px!important;
}

.related-snacks-title {
  font-size: 15px;
}

.related-snacks-price {
  font-size: 14px;
}

.related-snacks-button {
  font-size: 12px!important;
}

/* index */

.category-search-title {
  margin-right: 20px;
}

.snacks {
  width: 137px!important;
  height: 350px!important;
}

.snacks-title {
  font-size: 11px;
}

.snacks-price {
  font-size: 11px;
}

.snacks-button {
  font-size: 11px!important;
}

/* kaminari */
.page-item {
  font-size: 9px;
}

}