// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items-all-top {
  font-family: 'Chango', cursive;
  border-top: 2px solid grey; 
  border-bottom: 2px solid grey;
  background-color: #101626; 
  color:white;
}

.item-review-section {
  margin-bottom: 40px;
}
