// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*order new*/
.registered-address {
  height: 31px;
  width: 80%;
}

.order-address {
  width: 390px;
}

/*order confirm*/
.order-shipdelivery-table td {
  background-color: #F0F3EF;
}


.order-confirm-table td {
  background-color: #F0F3EF;
}

/*order thanks*/
.thanks-top-section {
  background-image: image-url("cherry-blossom.jpg");
	background-size: cover;
	background-position: center;
  height: 170px; 
  width:  100%;
	max-width:  auto;
}

.thanks-hedding {
  color: #EBE9DE; 
  font-family: 'Ranchers', cursive;
}

.thanks-main-section {
  font-family: 'Chango', cursive;
  background-color: #EBE9DE;
}


.thanks-main-section-text {
  margin: 100px 100px;
  border: 1px solid #000033;
  padding: 10px 10px;
  background-color: white;
}

.thank-you {
  font-size: 50px;
}

/*order index*/

@media screen and (max-width: 995px) {
  .tbl-r05 {
    width: 80%;
  }
  .tbl-r05 .thead {
    display: none;
  }
  .tbl-r05 tr {
    width: 100%;
  }
  .tbl-r05 td {
    display: block;
    text-align: right;
    width: 100%;
  }
  .tbl-r05 td:first-child {
    background: #e9727e;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  .tbl-r05 td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
  
}

/* 携帯レスポンシブ */

@media screen and (max-width: 450px) {
  
  .order-address {
  width: 300px;
  }
  
  .thank-you {
  font-size: 35px;
  }
  
}