// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-section {
  border-right: 10px solid black;
}

.login-form {
  width: 400px;
  height: 37px;
}

.login-btn:hover {
  background-color: #D9A404;
}

.login-btn {
  background-color: #f2b705;
  border: 1px solid black;
  text-decoration: none!important;
}

.registration-section {
  border-left: 4px solid #f2b705;
  position: relative;
}

.registration-section {
  border-left: 5px solid #f2b705;
}

.registration-heading {
  margin-bottom: 60px;
}

.kanji-pic-login {
  width: 180px;
  height: 180px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

// user account 画面 //
.profile-top {
  background-image: image-url("sakuratoppage.png");
	background-size: cover;
	background-position: center;
  height: 140px; 
  width:  100%;
  font-family: 'Abril Fatface', cursive;
  padding-top: 60px;
  color: #EBE9DE;
}

.account-heading {
  font-weight: bold;
}

.account-info {
  font-size: 19px;
}

.account-btn:hover {
  background-color: #D9A404;
  color: black;
}

.account-btn {
  background-color: #f2b705;
  border: 1px solid black;
  text-decoration: none!important;
  color: black;
  width: 80%;
  height: 60px;
  padding: 5px 30px;
  font-size: 25px;
  border-radius: 7px;
}

.user-edit-link {
  border: 2px solid #AEB2AD;
  box-shadow: 10px 10px 10px;
  border-radius: 15px;
  padding: 20px;
}

.edit-address {
  width: 393px;
}

.edit-country {
  width: 189px;
  height: 31px;
}

  
/* ユーザー登録画面レスポンシブ */  

@media screen and (max-width: 1200px) { 
.account-btn {
  font-size: 20px;
}

}

@media screen and (max-width: 990px) { 
  
.login-section {
  border-right: none;
}

.registration-section {
  border-left: none;
  border-top: 1px solid black;
  margin-bottom: 30px;
}

.kanji-pic-login {
  display: none;
}

.login-form {
  width: 350px;
  height: 37px;
}



}


/* 携帯レスポンシブ */

@media screen and (max-width: 450px) {

.account-heading {
  font-size: 25px;
}

.edit-name {
  width: 155px;
}

.edit-address {
  width: 262px;
}

.edit-country {
  width: 262px; 
  height: 100%;
}
  
}
