<div class="container">
  <div class="row">
    <div class="unsubscribe-screen text-center mx-auto mt-5">
      <h1>We are sorry to see you go!</h1>
      <h4 class="mt-4">Would you really like to unsubscribe?</h4>
      <%= link_to 'Unsubscribe', users_withdraw_path, method: :patch, data:{ confirm: 'Are you sure that you want to unsubscribe?',cancel: 'Back',commit: 'Unsubscribe'}, title: 'Confirmation', class:"btn btn-danger mt-3" %>
    </div>
  </div>
</div>